.App {
  background-color: #000000;
  min-height: 100vh;
}

#banner {
  color: #e09d82;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2.0vmin);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#card {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

a{
  color: #da7249;
  text-decoration: none;
}

a:hover{
  color: #49acda;
}

.icon{
  height: 30px;
  pointer-events: none;
}

.ferrisWheel {
  right: 50%;
  top: 70%;
  height: 130%;
  position: fixed;
  overflow: hidden;
}

.imageParent{
  padding: 50% 0;
}

